.chat-main
  .chat-main__group-info
    .chat-main__group-info__group-name
      test
      .chat-main__group-info__group-name__member
        メンバーはいません
    .chat-main__group-info__edit-btn
      = link_to "#" do
        Edit
  .chat-main__message-list
    .chat-main__message-list__message-box
      .chat-main__message-list__message-box__message-info
        .chat-main__message-list__message-box__message-info__user-name
          Nama
        .chat-main__message-list__message-box__message-info__date
          date
      .chat-main__message-list__message-box__message-text
        あああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
    .chat-main__message-list__message-box
      .chat-main__message-list__message-box__message-info
        .chat-main__message-list__message-box__message-info__user-name
          Nama
        .chat-main__message-list__message-box__message-info__date
          date
      .chat-main__message-list__message-box__message-text
        あああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
    .chat-main__message-list__message-box
      .chat-main__message-list__message-box__message-info
        .chat-main__message-list__message-box__message-info__user-name
          Nama
        .chat-main__message-list__message-box__message-info__date
          date
      .chat-main__message-list__message-box__message-text
        あああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
    .chat-main__message-list__message-box
      .chat-main__message-list__message-box__message-info
        .chat-main__message-list__message-box__message-info__user-name
          Nama
        .chat-main__message-list__message-box__message-info__date
          date
      .chat-main__message-list__message-box__message-text
        あああああああああああああああああああああああああああああああああああああああああああああああああああああああああ

  .chat-main__message-footer
    .chat-main__message-footer__form
      %form
        %input{type: "text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon('far', 'image', class: 'image')
          %input{type: "file", class: "input-file"}
    .chat-main__message-footer__send-btn
      =link_to "#" do
        send