.side-bar
  .user-name
    .top-items
      .top-items__name
        ああああ
      .top-items__icons
        = link_to "#" do
          = icon('far', 'edit', class: 'edit')
        = link_to "#" do
          = icon('fas', 'cog', class: 'cog')
  .group-list
    .group-box
      .group-name
        グループ名
      .group-last-message
        まだメッセージはありません
    .group-box
      .group-name
        グループ名
      .group-last-message
        まだメッセージはありません
    .group-box
      .group-name
        グループ名
      .group-last-message
        まだメッセージはありません